{% block content %}
{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/profile-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Your Profile</h1>
          <span class="subheading">Information Associated with Your Profile.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
   <div class="container text-center">
       <h3 class="col-lg-8 col-md-10 mx-auto">Email: {{current_user.email}}</h3>
       <h3 class="col-lg-8 col-md-10 mx-auto">Name: {{current_user.name}}</h3>
   </div>
</main>
{% include "footer.html"%}
{%endblock%}